*{
    margin: 100px;
    background-color: black;
}
.sobre{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 20px;

}
.time{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}